.category,
.category__title {
    position: relative;
}

.category__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

@media (max-width: 576px) {
    .category__columns {
        margin: 0 -4px;
    }

    .category__head {
        margin-bottom: 16px !important;
    }
}