.burgerIngredient__item {
    will-change: opacity;
    transition: opacity .3s ease;
}

.burgerIngredient__img {
    max-height: 120px;
    max-width: 240px;
}

.burgerIngredient__price svg {
    fill: #fff;
}

.burgerIngredient__value {
    font-family: 'Iceland';
}

.burgerIngredient__add {
    min-height: 40px;
    color: #4C4CFF;
}

@media (max-width: 1200px) {
    .burgerIngredient__img {
        max-height: 72px;
        max-width: 144px;
    }

    .burgerIngredient__value {
        font-size: 22px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    .burgerIngredient__pict [class*=counter_default__] {
        font-size: 22px;
        min-width: 24px;
        height: 24px;
        padding-left: 4px;
        padding-right: 4px;
    }

    .burgerIngredient__name {
        min-height: 68px;
    }
}