.order {
    background-color: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    transition: background-color .3s ease;
}

.order:hover {
    background-color: rgba(28, 28, 33, .6);
}

.order__head {
    margin-bottom: 22px;
}

.order__date {
    color: #8585AD;
}

[class*=order_order__status] {
    text-align: left;
    margin-bottom: 24px;
}

.order__pict {
    min-width: 64px;
    background: linear-gradient(to right, #801AB2, #4C4CFF);
}

.order__pict::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #131316;
    border-radius: 50%;
}

.order__pict+.order__pict {
    margin-left: -18px;
}

.order__pict:nth-child(1) {
    z-index: 6;
}

.order__pict:nth-child(2) {
    z-index: 5;
}

.order__pict:nth-child(3) {
    z-index: 4;
}

.order__pict:nth-child(4) {
    z-index: 3;
}

.order__pict:nth-child(5) {
    z-index: 2;
}

.order__pict:nth-child(6) {
    z-index: 1;
}

.order__pict:nth-child(n + 7) {
    display: none;
}

.order__img {
    max-height: 56px;
}

.order__amount {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: rgba(19, 19, 22, .6);
}