.orderInfo {
    padding-top: 120px;
    padding-bottom: 60px;
}

.orderInfo__id {
    margin-bottom: 38px;
}

.orderInfo__status {
    margin-bottom: 66px;
}

.orderInfo__statusCancel {
    color: #E52B1A;
}

.orderInfo__statusReady,
.orderInfo__statusProcess {
    color: #00CCCC;
}

.orderInfo__list {
    max-height: 320px;
}

.orderInfo__pict {
    min-width: 64px;
    background: linear-gradient(to right, #801AB2, #4C4CFF);
}

.orderInfo__pict::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #131316;
    pointer-events: none;
    border-radius: 50%;
}

.orderInfo__img {
    max-height: 56px;
}

.orderInfo__date {
    color: #8585AD;
}