.loader {
    border: 3px solid var(--text-inactive-color);
    border-top-color: #4c4cff;
    animation: loadingRotate 2s linear infinite;
}

@keyframes loadingRotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}