.burgerConstructor__body {
    max-height: 480px;
    min-height: 50px;
}

.burgerConstructor__order:not(button) {
    font-size: 0;
}

.burgerConstructor__order button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.burgerConstructor__preview {
    max-width: 536px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;
    background-color: #1C1C21;
    min-height: 80px;
    border: 1px dashed #8585AD;
    border-radius: var(--common-border-radius-s);
}

.burgerConstructor__preview[data-position=top] {
    border-radius: var(--top-constructor-item-border-radius);
}

.burgerConstructor__preview[data-position=bottom] {
    border-radius: var(--bottom-constructor-item-border-radius);
}