.ingredient-info__body {
    max-width: 516px;
    margin: 0 auto;
    text-align: center;
}

.ingredient-info__title {
    text-align: left;
}

.ingredient-info__pict {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.ingredient-info__img {
    max-height: 240px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.ingredient-info__list {
    padding-left: 0;
    margin: 0 -10px;
    list-style: none;
    display: flex;
}

.ingredient-info__item {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.ingredient-info__value {
    display: block;
}

@media (max-width: 576px) {
    .ingredient-info__title {
        font-size: 28px !important;
        line-height: 32px !important;
        max-width: calc(100% - 40px);
    }

    .ingredient-info__pict,
    .ingredient-info__name{
        margin-bottom: 16px;
    }

    .ingredient-info__img {
        max-height: 120px;
    }

    .ingredient-info__name{
        font-size: 20px;
        line-height: 1.2;
    }

    .ingredient-info__list {
        margin: 40px -4px 0;
        flex-wrap: wrap;
    }

    .ingredient-info__item {
        flex-grow: unset;
        flex-basis: unset;
        max-width: 50%;
        width: 50%;
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 32px
    }

    .ingredient-info__value {
        font-size: 22px;
        line-height: 1.2;
        margin-top: 2px;
    }
}