.BurgerIngredients {
    position: relative;
}

.BurgerIngredients__box {
    text-align: left;
    max-height: calc(100vh - 340px);
    min-height: calc(100vh - 340px);
    width: 100%;
    order: 1;
    padding-right: 8px;
}

.BurgerIngredients__inner {
    margin-bottom: 40px;
}

.BurgerIngredients__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

@media (max-width: 1200px) {
    .BurgerIngredients {
        font-size: 14px;
        line-height: 1.43;
    }
}

@media (max-width: 767px) {
    .BurgerIngredients {
        overflow-y: hidden;
        max-height: 100%;
    }

    .BurgerIngredients__inner {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .BurgerIngredients {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 20px !important;
    }

    .BurgerIngredients__columns {
        margin: 0 -4px;
    }

    .BurgerIngredients__head {
        margin-bottom: 16px !important;
    }
}