.pageOrderHistory {
    max-height: calc(100vh - 187px);
    width: calc(100% - 380px);
    margin-left: 60px;    
}

.pageOrderHistory [class*=order-list_]{
    display: flex;
    flex-direction: column-reverse;
}