.ingredientDetails {
    margin-top: 113px;
}

.ingredientDetails__body {
    max-width: 516px;
}

.ingredientDetails__pict {
    max-width: 480px;
    margin: 0 auto 14px auto;
}

.ingredientDetails__img {
    max-height: 240px;
}

.ingredientDetails__list {
    margin: 0 -10px;
}

.ingredientDetails__item {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width:577px){
    .ingredientDetails__img {
        height: 240px;
        max-width: 480px;
        width: 100%;
    }
}

@media (max-width: 576px) {

    .ingredientDetails__pict{
        margin-bottom: 16px;
    }

    .ingredientDetails__img {
        max-height: 120px;
        height: 120px;
        max-width: 240px;
        width: 100%;
    }

    .ingredientDetails__name {
        font-size: 20px;
        line-height: 1.2;
    }

    .ingredientDetails__list {
        margin: 40px -4px 0;
    }

    .ingredientDetails__item {
        flex-grow: unset;
        flex-basis: unset;
        max-width: 50%;
        width: 50%;
        padding-left: 4px;
        padding-right: 4px;
        margin-bottom: 32px
    }

    .ingredientDetails__value {
        font-size: 22px;
        line-height: 1.2;
        margin-top: 2px;
    }
}