.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header__container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header__menu-body {
    display: flex;
    align-items: center;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__btn button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    color: #8585AD;
}

.header__btn svg {
    transition: var(--common-transition);
}

.header__btn button:hover svg {
    fill: #fff;
}

.header__btn--profile {
    margin-left: auto;
}

.header__hamburger {
    position: absolute;
    top: 50%;
    right: 0;
    height: 64px;
    width: 64px;
    transform: translateY(-50%);
    display: none;
}

.header__hamburger,
.header__menu-close {
    padding: 0;
}

.header__hamburger,
.header__menu-close {
    border: none;
    background-color: transparent;
    outline: none;
}

.header__hamburger svg,
.header__menu-close svg {
    fill: #fff;
}

.header__btn svg,
.header__hamburger svg,
.header__menu-close svg {
    pointer-events: none;
}

.header__menu-close:hover svg,
.header__menu-close:focus svg,
.header__menu-close:active svg {
    fill: #E52B1A;
}


.header__btn--profile svg:nth-of-type(2){
    display: none;
}

.header__menu-head {
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
}

.header__menu-head,
.header__btn-text-burgers {
    display: none;
}

.header__menu-title {
    font-size: 28px;
    line-height: 32px;
}

@media (max-width: 1320px) {
    .header__container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    .header__container {
        display: flex;
        align-items: center;
        padding: 4px 20px;
    }

    .header__logo {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .header__collapse {
        margin-left: auto;
    }

    .header__logo svg {
        display: none;
    }

    .logo__img-mobile {
        display: block;
    }
}

@media (max-width: 991px) {
    .header__container {
        min-height: 64px;
    }

    .header__collapse {
        display: none;
    }

    .header__btn button {
        font-size: 14px;
        line-height: 1.43;
    }

    .header__hamburger {
        display: block;
    }

    .header__collapse {
        background-color: #1C1C21;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        min-height: 100vh;
        display: none;
        animation: showCollapse .35s linear;
    }

    .header__collapse--active {
        display: block;
    }

    .header__menu-head {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__menu-body {
        display: flex;
        flex-wrap: wrap;
    }

    .header__btn,
    .header__btn button {
        width: 100%;
    }

    .header__btn button {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .header__btn--profile {
        margin-left: 0;
        order: -1;
    }

    .header__btn-text-burgers {
        display: inline;
    }

    .header__btn--profile svg:nth-of-type(2){
        display: block;
        margin-left: auto;
    }

}

@media (max-width: 767px) {
    .header__container,
    .header__menu-head,
    .header__btn button {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__hamburger {
        width: 42px;
    }
}



@keyframes showCollapse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}