* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
}

body,
form {
  font-family: 'Jet Brains Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
    line-height: 1.43;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








/* container */

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}








/* logo */

.logo {
  display: inline-flex;
  will-change: opacity;
  transition: opacity .3s ease;
}

.logo:hover,
.logo:focus,
.logo:active {
  opacity: .8;
}









/* scrollbar-vertical */

.scrollbar-vertical {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.scrollbar-vertical::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-vertical::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scrollbar-vertical::-webkit-scrollbar-thumb {
  background: #8585AD;
}









/* content */

.content__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

@media (max-width: 991px) {
  .content__body {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}









/* constructor-element */

.constructor-element__row,
.constructor-element {
  width: 100% !important;
}

.constructor-element {
  display: inline-flex !important;
  margin-bottom: 0 !important;
  background: #1C1C21 !important;
  min-height: 80px !important;
  max-width: 536px !important;
}

.constructor-element__price {
  margin-left: auto;
}

@media (min-width: 1201px) {
  .constructor-element {
    min-width: 536px !important;
  }
}

@media (max-width: 1200px) {
  .constructor-element__text {
    font-size: 14px !important;
    line-height: 1.43 !important;
  }

  .constructor-element__price {
    font-size: 22px !important;
    line-height: 24px !important;
  }
}









/* tabs */

.tabs {
  position: relative;
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tabs__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.3333%;
  height: 2px;
  background-color: #4c4cff;
  will-change: transform;
  transition: transform .5s ease;
}

.tabs__list [class*=tab_tab__] {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 106px;
  padding-left: 16px;
  padding-right: 16px;
}

.tabs__list [class*=tab_tab_type_current__] {
  box-shadow: none;
}

.tabs__list [class*=tab_tab_type_current__]:nth-of-type(2)~.tabs__line {
  transform: translateX(100%);
}

.tabs__list [class*=tab_tab_type_current__]:nth-of-type(3)~.tabs__line {
  transform: translateX(200%);
}

@media (max-width: 576px) {
  .tabs__list {
    width: calc(100% + 16px);
    margin-left: -8px;
  }

  .tabs__list [class*=tab_tab__] .text {
    font-size: 14px;
    line-height: 1.43;
  }
}














/* FORM */

.form {
  max-width: 496px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.form__logo,
.form__body {
  margin-bottom: 80px;
}

.form__title {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 24px;
}

.form__item {
  position: relative;
  margin-bottom: 24px;
}

.form__icon {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form__text {
  color: #8585AD;
  margin-top: 0;
  margin-bottom: 16px;
}

.form__link {
  color: #4C4CFF;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
  white-space: nowrap;
  padding-left: 5px;
}

.form__link:hover,
.form__link:focus,
.form__link:active {
  color: #4C4CFF;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .form {
    margin-top: 0;
  }

  .form__logo {
    display: none;
  }

  .form__title {
    font-size: 28px;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .form__body {
    margin-bottom: 40px;
  }

  .form__submit button {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 32px;
  }

  .form__text {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .form__link {
    display: block;
    padding-left: 0;
  }
}











.nav-link {
  display: flex;
  align-items: center;
  color: #8585AD;
  text-decoration: none;
  padding: 16px 20px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.nav-link--active {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover svg,
.nav-link:focus svg,
.nav-link:active svg,
.nav-link--active svg {
  fill: #fff;
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 14px;
    line-height: 1.43;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .nav-link {
    padding-left: 8px;
    padding-right: 8px;
  }
}





.order__statusReady {
  color: #f2f2f3;
}

.order__statusCancel {
  color: #E52B1A;
}

.order__statusProcess {
  color: #00CCCC;
}




[class*=profile_container] .input__icon {
  z-index: 99;
  position: relative;
  cursor: pointer;
}

[class*=profile-form_] .input__textfield {
  color: #8585AD;
}

[class*=profile-form_] .input__textfield:focus {
  color: #fff;
}








.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}




/* modal animation */
/*
.modal-transition-enter {
  transform: translateX(-100%);
}

.modal-transition-enter-active {
  transition: transform 300ms;
  transform: translateX(0);
}

.modal-transition-exit {
  transform: translateX(0);
}

.modal-transition-exit-active {
  transition: transform 300ms;
  transform: translateX(-100%);
}*/