.burgerIngredients__box {
    max-height: calc(100vh - 340px);
    min-height: calc(100vh - 340px);
}

@media (max-width: 1200px) {
    .burgerIngredients {
        font-size: 14px;
        line-height: 1.43;
    }
}

@media (max-width: 767px) {
    .burgerIngredients {
        max-height: 100%;
    }
}