.appHeader {
    z-index: 999;
    background-color: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.appHeader__container {
    max-width: 1320px;
    margin: 0 auto;
}

.appHeader__btn button,
.appHeader__btn button>span {
    display: flex;
}

.appHeader__btn button {    
    align-items: center;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    color: #8585AD;
}

.appHeader__btn button>span {
    flex-direction: column;
    align-items: flex-start;
}

.appHeader__btn svg {
    transition: var(--common-transition);
}

.appHeader__btnProfile {
    margin-left: auto;
}

.appHeader__hamburger {
    height: 64px;
    width: 64px;
}

.appHeader__btn button:hover svg,
.appHeader__hamburger svg,
.appHeader__close svg {
    fill: #fff;
}

.appHeader__btn svg,
.appHeader__hamburger svg,
.appHeader__close svg {
    pointer-events: none;
}

.appHeader__close:hover svg,
.appHeader__close:focus svg,
.appHeader__close:active svg {
    fill: #E52B1A;
}

.appHeader__head {
    min-height: 64px;
}

.appHeader__btnProfile svg:nth-of-type(2),
.appHeader__logo img {
    display: none;
}

.appHeader__title {
    font-size: 28px;
    line-height: 32px;
}

@media (max-width: 1200px) {
    .appHeader__container {
        padding: 4px 20px;
    }

    .appHeader__logo svg {
        display: none;
    }

    .appHeader__logo img {
        display: block;
    }
}

@media (max-width: 991px) {
    .appHeader__container {
        min-height: 64px;
    }
    
    .appHeader__collapse {
        background-color: #1C1C21;
        z-index: 999;
        animation: showCollapse .35s linear;
    }

    .appHeader__collapseActive {
        display: block !important;
    }

    .appHeader__btn,
    .appHeader__btn button {
        width: 100%;
    }

    .appHeader__btn button {
        font-size: 14px;
        line-height: 1.43;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .appHeader__btnProfile {
        margin-left: 0;
        order: -1;
    }

    .appHeader__btnProfile svg:nth-of-type(2) {
        display: block;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    .appHeader__container,
    .appHeader__head,
    .appHeader__btn button {
        padding-left: 8px;
        padding-right: 8px;
    }

    .appHeader__hamburger {
        width: 42px;
    }
}

@keyframes showCollapse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}